@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


/* loading screen */

body {
    background-image: url(IMG_5317.JPG);
    width: 100%!important;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.ml15 {
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.ml15 .word {
    display: inline-block;
    line-height: 1em;
}

body {
    font-family: sans-serif;
    overflow: hidden;
}

.centering {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #009688;
}

.show {
    animation: showing 1s ease-in forwards;
}

@keyframes showing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* end of loading screen */

.name {
    font-family: 'Dancing Script', cursive;
    color: #fff;
}

.img {
    width: 100%;
    height: 100vh;
    background-image: url(MyPic.jpg);
    background-size: cover;
    background-position: contain;
}

.navbar {
    width: 92%;
    margin: auto;
    padding: 28px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    animation: showing 1s ease-in forwards;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.button button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.button span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.button button:hover span {
    width: 100%;
}

.button button:hover {
    border: none;
}

.social-media-list {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.social-media-list a {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: #fff;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 28px;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.social-media-list a:not(:last-child) {
    margin-right: 2rem;
}

.social-media-list a i {
    transition: transform 0.5s;
    font-size: 33px;
}

.social-media-list a::before {
    content: "";
    position: absolute;
    width: 115%;
    height: 115%;
    background-color: #009688;
    z-index: -1;
    transform: rotate(45deg);
    top: -15%;
    left: 5%;
    transition: transform 0.5s;
}

.social-media-list a:hover {
    color: #009688;
}

.social-media-list a:hover {
    transform: scale(1.2);
}

.social-media-list a:hover::before {
    transform: rotate(45deg) translate(15%, -100%);
}